form {
  width: 30%;
  margin: 0 auto;
  border: 1px solid #eee;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 8px;
}

form input {
  display: block;
  border: 1px solid #eee;
  margin: 5px auto;
  padding: 5px;
  border-radius: 0.5em;
}

form a {
  display: block;
  margin: 10px auto;
  font-size: 12px;
  text-align: center;
}

.logout-btn {
  float: right;
  padding: 0.5em;
}

table{
  border-collapse: collapse;
  width: 50%;
  margin:0 auto;
}

td,th{
  border:1px solid #eee;
  text-align: center;
  padding:5px;
}
tr:nth-child(even){
  background-color: #ddd;
}

.notification {
  text-align: center;
  padding: 1em;
  font-weight: bold;
}